
@import "normalize.css";
@import "modules/_typography.css";




/* Test Nesting and escaping the liquid braces */
/*.image {
  width: 100%;
  max-width: 600px;
  display: inline-block;
}

.size {
  width: '{{' section.setting.width '}}';
  height: '{{' whatever.sdfsd.asdfds '}}';
  width: '{{' section.setting.width '}}';
  height: '{{' whatever.sdfsd.asdfds '}}';
}

.container {
  background-color: '{{' settings.color_body_text '}}';
  max-width: 1400px;
  margin: 0 auto;
  columns: 5;
  &_reading {
    width: 560px;
  } 
} 
*/