@import "modules/_typography.css";

.image {
  width: 100%;
  max-width: 600px;
  display: inline-block;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  columns: 5;
  &_reading {
    width: 560px;
  } 
}